.hero-section {
  background-image: url('../img/tickets_hero_bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;

}

.hero-section h1 {
  font-size: 3em;
  margin: 0 0 10px;
}

.hero-section p {
  font-size: 2em;
  margin: 0 0 10px;
}

.tickets-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.ticket-section {
  margin-top: 6em;
  margin-bottom: 6em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

caption {
  padding-bottom: 1em;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #eaeaea;
}


@media (max-width: 1024px) {
  table {
    width: 100%;
  }

}
